<!-- <header>
  <h1>FoodTruck</h1>
  <button class="sign_in" type="submit">Sign-In/Sign-Up</button>
</div>
</header> -->

<header class="main-header">
  <div class="logo">
      <h1>FoodTruck</h1>
  </div>
  <div class="login-logout">
    <div class="user-logged-in">
      <label id="current-user">abc@gmail.com</label>
      <button id="logout">Log Out</button>
    </div>
    <div class="user-logged-out">
      <!--<button id="signup">Sign Up</button>-->
      <form id = "login" action = "users/login/:id" method = "POST">
      <button id="login">Log-In/Log-Out</button>
    </form>
    </div>
  </div>
</header>
