<!DOCTYPE html>
<html lang="en">

<head>
  <!--Meta Data-->
  <title>FoodTruck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/customerInterface.css" type="text/css" />
  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Fascinate&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!--ensuring mock data is available to before customerInterface script loads-->
  <script type="text/javascript" src="/scripts/helperData/mockMenu.js"></script>
  <script type="text/javascript" src="/scripts/helperData/mockOrders.js"></script>

  <script type="text/javascript" src="/scripts/customerInterface.js"></script>

</head>

<body>
  <%- include('partials/_header.ejs') %>
  <main>
      <div class = "customerOrderConfirmation">
          <h2>Thanks for ordering with FoodTruck! Your order has been submitted to the vendor. Please wait for SMS confirmation on the phone number provided with registration.</h2>
      </div>
</main>

</body>
</html>
