<!-- Go either /users OR /vendors for now -->


  <%- include('partials/_header.ejs') %>
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  <div class="image" style="display: flex; justify-content: space-between;">
      <img src="https://images.pexels.com/photos/2253643/pexels-photo-2253643.jpeg?cs=srgb&dl=pexels-dmitry-zvolskiy-2253643.jpg&fm=jpg" alt="Food" style="width: 50%; height: 1005px">
    <img src="https://images.pexels.com/photos/8556141/pexels-photo-8556141.jpeg?cs=srgb&dl=pexels-polina-tankilevitch-8556141.jpg&fm=jpg" alt="People" style="display: flex; justify-content: flex-end; width: 50%; height: 1005px;">
  </div>
  <div class="first-btn">
    <div class="btn-one-text">
      <h1> And the people who love <br>to eat great food!</h1>
    </div>
    <form action="/api/users" method="GET">
      <button type="Submit" class="btn btn-primary">User Login</button>
    </form>
  </div>
  <div class="second-btn">
    <div class="second-btn-text">
      <h1>We love supporting people <br> who make great food!</h1>
    </div>
    <form action="/api/vendors" method="GET">
      <div class="actual-btn">
        <button type="Submit" class="btn btn-primary">Vendor Login</button>
      </div>
    </form>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
