<!-- Harwinder to code vendor side here -->

<!--  -->
  <%- include('partials/_header.ejs') %>
  <link rel="stylesheet" href="/styles/vendorInterface.css" type="text/css" />
  <main id="vendor-container">

  </main>

</body>

</html>
