.second-btn{
  position: absolute;
  top: 80%;
  left: 10%;
}

.first-btn{
  position:absolute;
  top:80%;
  right:20%;
}
.btn-one-text{
  color:white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.second-btn-text{
  color:white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


